{{!-- <section>
    <h2>{{title}}</h2>

    <p>
        <strong>Artist:</strong> <br />
        {{artist}} <br />
    </p>
    <p>
        <strong>Date: </strong> {{date}} <br />
    </p>
    <p>
        <strong>Description:</strong>
        {{description}}
    </p>

    <p>
    <form action="/artwork/{{_id}}/delete" method="POST">
        <button>Delete</button>
    </form>
    </p> --}}

    <section class="flex-container-artwork-details">
        <div class="artwork-details-text">
            <h2>{{title}}</h2>
    
               <p> <strong>Artist:</strong> 
                {{artist}} </p>


                <p><strong>Date: </strong> {{date}} </p>


               <p><strong>Description:</strong>
                {{description}}</p>


                <p><strong>Added By:</strong>
                {{this.user}}</p>

    
            <form action="/artwork/{{_id}}/delete" method="POST">
                <button type="submit" class="btn btn-primary">Delete This Artwork</button>
            </form>

            <a href="/artwork/{{_id}}/update">Update</a>

        </div>

        <div class="artwork-image-details">
            <img src="{{artworkPictureUrl}}" alt="{{this.title}}" height="400px" width="auto">
        </div>

    </section>