{{!-- <section>
    <h2>{{title}}</h2>

    <p>
        <strong>Artist:</strong> <br />
        {{artist}} <br />
    </p>
    <p>
        <strong>Date: </strong> {{date}} <br />
    </p>
    <p>
        <strong>Description:</strong>
        {{description}}
    </p>

    <p>
    <form action="/artwork/{{_id}}/delete" method="POST">
        <button>Delete</button>
    </form>
    </p> --}}

    <section class="section-recipe-details row justify-content-center col-lg-6">
        <div class="row justify-content-center col-lg-6">
            <h2>{{title}}</h2>

            <p>
                <strong>Artist:</strong> <br />
                {{artist}} <br />
            </p>
            <p>
                <strong>Date: </strong> {{date}} <br />
            </p>
            <p>
                <strong>Description:</strong>
                {{description}}
            </p>

            <p>
            <form action="/artwork/{{_id}}/delete" method="POST">
                <button type="submit" class="btn btn-primary">Cancel</button>
        </div>

    </section>