<section class="flex-container-artwork-details">
  <div class="artwork-details-text">
    <h2>{{title}}</h2>

    <p>
      <strong>Artist:</strong>
      {{artist}}
    </p>

    <p><strong>Date: </strong> {{date}} </p>

    <p><strong>Description:</strong>
      {{description}}</p>

    <p><strong>Added By:</strong>
      {{this.user}}</p>

    <a href="/artwork/{{_id}}/update" class="btn btn-primary">
      Update This Artwork</a>

    <form action="/artwork/{{_id}}/delete" method="POST">
      <button type="submit" class="btn btn-primary">Delete This Artwork</button>
    </form>

<form action="/artwork/{{_id}}/favourite" method="POST">
    <button name="favourite" type="submit" class="btn btn-primary create-button col-lg-8">Add to my favourites</button>
</form>
  </div>

  <div class="artwork-image-details">
    <img
      src="{{artworkPictureUrl}}"
      alt="{{this.title}}"
      class="artwork-image"
      height="400px"
      width="auto"
    />
  </div>


</section>