<h1 class="artwork-titles">Artworks</h1>
{{#if errorMessage}}
<p class="error-message"> Error: {{errorMessage}} </p>
{{/if}}
<section class="product col-12 cards">
    <div class="row justify-content-center">
        {{#each artwork}}
        <div class="card col-12 col-md-3 m-3">

            <div class="card-body">
                <img src="{{this.artworkPictureUrl}}" class="card-img-top" alt="{{title}}" height="250px" width="300px">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text"> {{this.description}} </p>
                <a href="/artwork/{{_id}}" class="btn btn-primary">More Details</a>
            </div>

        </div>
        {{/each}}
    </div>
</section>