<section>
    <h2>{{title}}</h2>

    <p>
        <strong>Artist:</strong> <br />
        {{artist}} <br />
    </p>
    <p>
        <strong>Date: </strong> {{date}} <br />
    </p>
    <p>
        <strong>Description:</strong>
        {{description}}
    </p>

    <p>
        <form action="/artwork/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </p>

</section>
<a href="/artwork/{{_id}}/update">Update</a> |
<a href="/artwork">Back</a>